--color
--require spec_helper
def introduction(name)
  puts "Hi, my name is #{name}."
end


def introduction_with_language(name, lang)
  put "HI, my name is #{name} and I am learning to program in #{lang}."
end